<!-- <h1>Log in</h1> -->

 <html lang="en">
<head>
  <meta charset="utf-8">
  <title>sportscast</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!-- <link rel="stylesheet" href="/resources/demos/style6.css"> -->
  <script>
  $(function() {
    $( "#dialog" ).dialog();
  });
  </script>
</head>
<body>

<div class="bkgd_image"> </div>

     <%= image_tag("sportscast_logo.png", class: "logo") %>

<div id="dialog" title="Login">

<%= form_tag sessions_path do %>

  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>

</div>


</body>
</html>



