<h1>Listing footballs</h1>

<a href="#" data-reveal-id="myModal" class="button tiny">CALENDAR of events</a>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>CALENDAR</h2>
  <p class="lead">CALENDAR goes here</p>
  <p>Anything can go here really. Just testing this out and seeing how modals work. A possibility for sure.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<!-- Dropdown  -->

<section class="main">
<!--         <div class="fleft">
          <p>Same as example 5 but with a delay for each item.</p>
        </div> -->
        <div class="fleft">
          <select id="cd-dropdown" class="cd-select">
            <option value="-1" selected>Choose a Team</option>
            <option value="1" class="icon-camera">Orioles</option>
            <option value="2" class="icon-diamond">AL All-Stars</option>
            <option value="3" class="icon-rocket">Red Sox</option>
            <option value="4" class="icon-star">White Sox</option>
            <option value="5" class="icon-clock">Indians</option>
            <option value="6" class="icon-clock">Tigers</option>
            <option value="7" class="icon-camera">Astros</option>
            <option value="8" class="icon-diamond">Royals</option>
            <option value="9" class="icon-rocket">Angels</option>
            <option value="10" class="icon-star">Twins</option>
            <option value="11" class="icon-clock">Yankees</option>
            <option value="12" class="icon-clock">Athletics</option>
            <option value="13" class="icon-camera">Mariners</option>
            <option value="14" class="icon-diamond">Rays</option>
            <option value="15" class="icon-rocket">Rangers</option>
            <option value="16" class="icon-star">Blue Jays</option>
            <option value="17" class="icon-clock">D-backs</option>
            <option value="18" class="icon-clock">Braves</option>
            <option value="19" class="icon-camera">Cubs</option>
            <option value="20" class="icon-diamond">Reds</option>
            <option value="21" class="icon-rocket">Rockies</option>
            <option value="22" class="icon-star">Dodgers</option>
            <option value="23" class="icon-clock">Marlins</option>
            <option value="24" class="icon-clock">Brewers</option>
            <option value="25" class="icon-star">Mets</option>
            <option value="26" class="icon-clock">Phillies</option>
            <option value="27" class="icon-clock">Pirates</option>
            <option value="28" class="icon-camera">Padres</option>
            <option value="29" class="icon-diamond">Giants</option>
            <option value="30" class="icon-rocket">Cardinals</option>
            <option value="31" class="icon-star">Nationals</option>
          </select>
        </div>
      </section>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">

      $( function() {

        $( '#cd-dropdown' ).dropdown( {
          gutter : 5,
          stack : false,
          delay : 100,
          slidingIn : 100
        } );

      });

    </script>

<!-- Dropdown -->

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Away team</th>
      <th>Home team</th>
      <th>Time</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @footballs.each do |football| %>
      <tr>
        <td><%= football.date %></td>
        <td><%= football.away_team %></td>
        <td><%= football.home_team %></td>
        <td><%= football.time %></td>
        <td><%= football.city %></td>
        <td><%= football.state %></td>
        <td><%= football.zip %></td>
        <td class="button tiny"><%= link_to 'Show', football %></td>
        <td class="button tiny"><%= link_to 'Edit', edit_football_path(football) %></td>
        <td class="button tiny"><%= link_to 'Destroy', football, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Football', new_football_path %>
