<h1>Listing baseballs</h1>
<!-- Dropdown  -->

<section class="main">
<!--         <div class="fleft">
          <p>Same as example 5 but with a delay for each item.</p>
        </div> -->
        <div class="fleft">
          <select id="cd-dropdown" class="cd-select">
            <option value="-1" selected>Choose a Team</option>
            <option value="1" class="icon-camera">RedSox</option>
            <option value="2" class="icon-diamond">Blue Jays</option>
            <option value="3" class="icon-rocket">Rays</option>
            <option value="4" class="icon-star">Orioles</option>
            <option value="5" class="icon-clock">Pirates</option>
          </select>
        </div>
      </section>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">

      $( function() {

        $( '#cd-dropdown' ).dropdown( {
          gutter : 5,
          stack : false,
          delay : 100,
          slidingIn : 100
        } );

      });

    </script>

<!-- Dropdown -->

<!-- Calendar -->

<div class="container" class="body-gradient">
      <div class="custom-calendar-wrap custom-calendar-full">
        <div class="custom-header clearfix">
          <!-- <h2>Calendar</h2> -->
          <h3 class="custom-month-year">
            <span id="custom-month" class="custom-month"></span>
            <span id="custom-year" class="custom-year"></span>
            <nav>
              <span id="custom-prev" class="custom-prev"></span>
              <span id="custom-next" class="custom-next"></span>
              <span id="custom-current" class="custom-current" title="Go to current date"></span>
            </nav>
          </h3>
        </div>
        <div id="calendar" class="fc-calendar-container"></div>
      </div>
    </div><!-- /container -->



    <script type="text/javascript">
      $(function() {

        var cal = $( '#calendar' ).calendario( {
            onDayClick : function( $el, $contentEl, dateProperties ) {

              for( var key in dateProperties ) {
                console.log( key + ' = ' + dateProperties[ key ] );
              }

            },
            caldata : codropsEvents
          } ),
          $month = $( '#custom-month' ).html( cal.getMonthName() ),
          $year = $( '#custom-year' ).html( cal.getYear() );

        $( '#custom-next' ).on( 'click', function() {
          cal.gotoNextMonth( updateMonthYear );
        } );
        $( '#custom-prev' ).on( 'click', function() {
          cal.gotoPreviousMonth( updateMonthYear );
        } );
        $( '#custom-current' ).on( 'click', function() {
          cal.gotoNow( updateMonthYear );
        } );

        function updateMonthYear() {
          $month.html( cal.getMonthName() );
          $year.html( cal.getYear() );
        }

        // you can also add more data later on. As an example:
        /*
        someElement.on( 'click', function() {

          cal.setData( {
            '03-01-2013' : '<a href="#">testing</a>',
            '03-10-2013' : '<a href="#">testing</a>',
            '03-12-2013' : '<a href="#">testing</a>'
          } );
          // goes to a specific month/year
          cal.goto( 3, 2013, updateMonthYear );

        } );
        */

      });
    </script>

<!-- Calendar -->

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Away team</th>
      <th>Home team</th>
      <th>Time</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baseballs.each do |baseball| %>
      <tr>
        <td><%= baseball.date %></td>
        <td><%= baseball.away_team %></td>
        <td><%= baseball.home_team %></td>
        <td><%= baseball.time %></td>
        <td><%= baseball.city %></td>
        <td><%= baseball.state %></td>
        <td><%= baseball.zip %></td>
        <td><%= link_to 'Show', baseball %></td>
        <td><%= link_to 'Edit', edit_baseball_path(baseball) %></td>
        <td><%= link_to 'Destroy', baseball, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baseball', new_baseball_path %>

