<h1>Listing baseballs</h1>
<!-- Dropdown  -->

<section class="main">
        <div class="fleft">
          <p>Same as example 5 but with a delay for each item.</p>
        </div>
        <div class="fleft">
          <select id="cd-dropdown" class="cd-select">
            <option value="-1" selected>Choose your prize</option>
            <option value="1" class="icon-camera">Camera</option>
            <option value="2" class="icon-diamond">Diamonds</option>
            <option value="3" class="icon-rocket">Spaceship</option>
            <option value="4" class="icon-star">Star</option>
            <option value="5" class="icon-clock">Time</option>
          </select>
        </div>
      </section>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.dropdown.js"></script>
    <script type="text/javascript">

      $( function() {

        $( '#cd-dropdown' ).dropdown( {
          gutter : 5,
          stack : false,
          delay : 100,
          slidingIn : 100
        } );

      });

    </script>

<!-- Dropdown -->

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Away team</th>
      <th>Home team</th>
      <th>Time</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baseballs.each do |baseball| %>
      <tr>
        <td><%= baseball.date %></td>
        <td><%= baseball.away_team %></td>
        <td><%= baseball.home_team %></td>
        <td><%= baseball.time %></td>
        <td><%= baseball.city %></td>
        <td><%= baseball.state %></td>
        <td><%= baseball.zip %></td>
        <td><%= link_to 'Show', baseball %></td>
        <td><%= link_to 'Edit', edit_baseball_path(baseball) %></td>
        <td><%= link_to 'Destroy', baseball, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baseball', new_baseball_path %>
