<h3>Listing baseballs</h3>


<!-- Dropdown  -->

<section class="main">
<!--         <div class="fleft">
          <p>Same as example 5 but with a delay for each item.</p>
        </div> -->
        <div class="fleft">
          <select id="cd-dropdown" class="cd-select">
            <option value="-1" selected>Choose a Team</option>
            <option value="1" id="Orioles" class="icon-camera">Orioles</option>
            <option value="2" id="AL_All_Stars" class="icon-diamond">AL All-Stars</option>
            <option value="3" id="Red_Sox" class="icon-rocket">Red Sox</option>
            <option value="4" id="White_Sox" class="icon-star">White Sox</option>
            <option value="5" id="Indians" class="icon-clock">Indians</option>
            <option value="6" id="Tigers" class="icon-clock">Tigers</option>
            <option value="7" id="Astros" class="icon-camera">Astros</option>
            <option value="8" id="Royals" class="icon-diamond">Royals</option>
            <option value="9" id="Angels" class="icon-rocket">Angels</option>
            <option value="10" id="Twins" class="icon-star">Twins</option>
            <option value="11" id="Yankees" class="icon-clock">Yankees</option>
            <option value="12" id="Athletics" class="icon-clock">Athletics</option>
            <option value="13" id="Mariners" class="icon-camera">Mariners</option>
            <option value="14" id="Rays" class="icon-diamond">Rays</option>
            <option value="15" id="Rangers" class="icon-rocket">Rangers</option>
            <option value="16" id="Blue_Jays" class="icon-star">Blue Jays</option>
            <option value="17" id="D_backs" class="icon-clock">D-backs</option>
            <option value="18" id="Braves" class="icon-clock">Braves</option>
            <option value="19" id="Cubs" class="icon-camera">Cubs</option>
            <option value="20" id="Reds" class="icon-diamond">Reds</option>
            <option value="21" id="Rockies" class="icon-rocket">Rockies</option>
            <option value="22" id="Dodgers" class="icon-star">Dodgers</option>
            <option value="23" id="Marlins" class="icon-clock">Marlins</option>
            <option value="24" id="Brewers" class="icon-clock">Brewers</option>
            <option value="25" id="Mets" class="icon-star">Mets</option>
            <option value="26" id="Phillies" class="icon-clock">Phillies</option>
            <option value="27" id="Pirates" class="icon-clock">Pirates</option>
            <option value="28" id="Padres" class="icon-camera">Padres</option>
            <option value="29" id="Giants" class="icon-diamond">Giants</option>
            <option value="30" id="Cardinals" class="icon-rocket">Cardinals</option>
            <option value="31" id="Nationals" class="icon-star">Nationals</option>
          </select>
        </div>
      </section>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">

      $( function() {

        $( '#cd-dropdown' ).dropdown( {
          gutter : 5,
          stack : false,
          delay : 100,
          slidingIn : 100
        } );

      });

    </script>

<!-- Dropdown -->

<!-- calendar partial -->

<%= render 'calendar' %>

<!-- calendar partial -->

<!-- <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Away team</th>
      <th>Home team</th>
      <th>Time</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baseballs.each do |baseball| %>
      <tr>
        <td><%= baseball.date %></td>
        <td><%= baseball.away_team %></td>
        <td><%= baseball.home_team %></td>
        <td><%= baseball.time %></td>
        <td><%= baseball.city %></td>
        <td><%= baseball.state %></td>
        <td><%= baseball.zip %></td>
        <td><%= link_to 'Show', baseball %></td>
        <td><%= link_to 'Edit', edit_baseball_path(baseball) %></td>
        <td><%= link_to 'Destroy', baseball, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Baseball', new_baseball_path %>

<!-- linking to all css and js in the asset pipeline. it only works here and not in the laypout/app.html.erb ?  -->
<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag "application" %>

