<h4>Listing baseballs</h4>

  <a href="#" data-dropdown="drop1" class="tiny radius button dropdown">BASEBALL TEAMS</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li id="Orioles" class="dropdown_bg_color">Orioles</li>
        <li id="AL_All_Stars" class="dropdown_bg_color">Al All-Stars</li>
        <li id="Red_Sox" class="dropdown_bg_color">Red Sox</li>
        <li id="White Sox" class="dropdown_bg_color">White Sox</li>
        <li id="Indians" class="dropdown_bg_color">Indians</li>
        <li id="Tigers" class="dropdown_bg_color">Tigers</li>
        <li id="Astros" class="dropdown_bg_color">Astros</li>
        <li id="Royals" class="dropdown_bg_color">Royals</li>
        <li id="Angels" class="dropdown_bg_color">Angels</li>
        <li id="Twins" class="dropdown_bg_color">Twins</li>
        <li id="Yankees" class="dropdown_bg_color">Yankees</li>
        <li id="Athletics" class="dropdown_bg_color">Athletics</li>
        <li id="Mariners" class="dropdown_bg_color">Mariners</li>
        <li id="Rays" class="dropdown_bg_color">Rays</li>
        <li id="Rangers" class="dropdown_bg_color">Rangers</li>
        <li id="Blue Jays" class="dropdown_bg_color">Blue Jays</li>
        <li id="Cubs" class="dropdown_bg_color">Cubs</li>
        <li id="D-backs" class="dropdown_bg_color">D-backs</li>
        <li id="Cubs" class="dropdown_bg_color">Cubs</li>
        <li id="Reds" class="dropdown_bg_color">Reds</li>
        <li id="Rockies" class="dropdown_bg_color">Rockies</li>
        <li id="Dodgers" class="dropdown_bg_color">Dodgers</li>
        <li id="Marlins" class="dropdown_bg_color">Marlins</li>
        <li id="Brewers" class="dropdown_bg_color">Brewers</li>
        <li id="Mets" class="dropdown_bg_color">Mets</li>
        <li id="Phillies" class="dropdown_bg_color">Phillies</li>
        <li id="Pirates" class="dropdown_bg_color">Pirates</li>
        <li id="Padres" class="dropdown_bg_color">Padres</li>
        <li id="Giants" class="dropdown_bg_color">Giants</li>
        <li id="Cardinals" class="dropdown_bg_color">Cardinals</li>
        <li id="Nationals" class="dropdown_bg_color">Nationals</li>
      </ul>


<%= render 'calendar' %>


<br>
<script type="text/javascript">
  var baseballs = <%= @baseballs.to_json.html_safe %>
</script>

<%= link_to 'New Baseball', new_baseball_path %>

<!-- linking to all css and js in the asset pipeline. it only works here and not in the laypout/app.html.erb ?  -->
<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag "application" %>

