<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @baseball.date %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @baseball.away_team %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @baseball.home_team %>
</p>

<p>
  <strong>Time:</strong>
  <%= @baseball.time %>
</p>

<p>
  <strong>City:</strong>
  <%= @baseball.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @baseball.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @baseball.zip %>
</p>

<%= link_to 'Edit', edit_baseball_path(@baseball) %> |
<%= link_to 'Back', baseballs_path %>
